# Node / managers
node_modules/
.pnpm-store/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Builds & caches
dist/
build/
.out/
.next/
.next-cache/
.vercel/
.turbo/
coverage/
.vite/
tmp/
temp/
*.log
logs/

# Env & secrets
.env
.env.*
!.env.example

# Databases / data
*.sqlite
*.db
data/
**/*.db
**/*.sqlite

# Backups / archives
*.tar.gz
*.zip
*.tgz
apps-backup-*

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# TypeScript build info
*.tsbuildinfo
